@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Source+Sans+Pro:wght@600&display=swap");

@mixin large-text {
  font: {
    size: 1.4rem;
    weight: bold;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.userMood_emoji span {
  margin-top: 20px;
  font-size: 10rem;
  // border: navy solid 5px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkslateblue;
  margin-top: 30px;
}
