.mainVideoPlayer-container {
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  border: navy solid 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  .mainVideoPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.personalPlayList {
  width: 50%;
  border: navy solid 5px;
  // width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cfb6da;
  padding-top: 20px;
  padding-bottom: 20px;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: flex-start;

    li {
      img {
        margin-right: 10px;
      }
    }
  }
}
