@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Source+Sans+Pro:wght@600&display=swap");

@mixin large-text {
  font: {
    size: 1.4rem;
    weight: bold;
    font-family: "Source Sans Pro", sans-serif;
  }
}
.home-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  border-radius: 4px;

  .home-title {
    background: white;
    color: rgb(1, 1, 29);
    height: 3rem;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-content {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    @include large-text;
  }
  .empty {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
}
